<%# This view shows and checks the necessity of resending the confirmation instructions. %>
<main class="container pt-3">
  <div class="row">
    <h2><%= t('.resend_confirmation_instructions') %></h2>
    <section class="col-sm-12">
      <%= form_for resource, as: resource_name, url: confirmation_path(resource_name),
                   html:         {method: :post}, class: 'form-row' do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group col-sm-3">
          <%= f.label :email %><br/>
          <%= f.email_field :email,
                            autofocus: true,
                            value:     (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                            class:     'form-control' %>
        </div>

        <div class="form-group col-sm-3">
          <%= f.submit t('.resend_confirmation_instructions'), class: "btn btn-primary" %>
        </div>
      <% end %>
    </section>
    <section class="col-sm-12">
      <%= render "devise/shared/links" %>
    </section>
  </div>
</main>