<%# This view allows existing users to change their account information. %>
<main class="container pt-3">
  <h2><%= t('.title', resource: resource_class.model_name.human) %></h2>
  <div class="row">
    <section class="col-sm-12">
      <%= form_for resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}, class: 'form-row' do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group col-sm-6">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
        <% end %>

        <div class="form-group col-sm-6">
          <%= f.label :password %>
          <i> (<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> <%= t('.characters_minimum') %></em>
          <% end %>
        </div>

        <div class="form-group col-sm-6">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="form-group col-sm-6">
          <%= f.label :current_password %><br>
          <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>
            )</i>
          <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="form-group col-sm-12">
          <%= f.submit t('.update'), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </section>
    <%#
    <section class="col-sm-12">
      <h3><%= t('.cancel_my_account') </h3>
      <%= button_to t('.cancel_my_account'), registration_path(resource_name), data: {confirm: t('are_you_sure')}, method: :delete, class: 'btn btn-sm btn-danger'
    </section>%>
    <section class="col-sm-12">
      <div class="btn-group btn-group-sm pt-3">
        <%= link_to icon('arrow-left', t('back')), :back, class: 'btn btn-secondary' %>
      </div>
    </section>
  </div>
</main>