<%# This view shows the resending of the unlock instructions.%>
<main class="container pt-3">
  <div class="row">
    <section class="col-sm-12">
      <h2><%= t('.resend_unlock_instructions') %></h2>

      <%= form_for resource, as: resource_name, url: unlock_path(resource_name),
                   html:         {method: :post}, class: 'form-row' do |f| %>
        <%= devise_error_messages! %>


        <div class="form-group col-sm-3">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group col-sm-3">
          <%= f.submit t('.resend_unlock_instructions'), class: "btn btn-primary" %>
        </div>

      <% end %>
    </section>
    <section class="col-sm-12">
      <%= render "devise/shared/links" %>
    </section>
  </div>
</main>