<%# This view is for forgotten passwords and resetting them.%>
<main class="container pt-3">
  <div class="row">
    <h2><%= t('.forgot_your_password') %></h2>
    <section class="col-sm-12">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit t('.send_me_reset_password_instructions'), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </section>
    <section class="col-sm-12">
      <%= render "devise/shared/links" %>
    </section>
  </div>
</main>