<nav class="navbar navbar-expand navbar-light bg-light fixed-top">
  <%= link_to_if user_signed_in?, 'ProductLinRE', editor_path, class: 'navbar-brand' do %>
    <%= link_to 'ProductLinRE', unauthenticated_root_path, class: 'navbar-brand' %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <% if user_signed_in? %>
      <div class="navbar-nav mr-auto">
        <%= link_to_unless_current icon('home', t('home')), editor_path, class: 'nav-item nav-link' do %>
          <span class="nav-item nav-link active"><%= icon('home', t('home')) %></span>
        <% end %>
        <%= link_to_unless_current Project.model_name.human(count: 2), projects_path, class: 'nav-item nav-link' do %>
          <span class="nav-item nav-link active"><%= Project.model_name.human(count: 2) %></span>
        <% end %>
        <%= link_to_unless_current Artifact.model_name.human(count: 2), artifacts_path, class: 'nav-item nav-link' do %>
          <span class="nav-item nav-link active"><%= Artifact.model_name.human(count: 2) %></span>
        <% end %>
        <%= link_to_unless_current User.model_name.human(count: 2), users_path, class: 'nav-item nav-link' do %>
          <span class="nav-item nav-link active"><%= User.model_name.human(count: 2) %></span>
        <% end %>
        <%= link_to_unless_current icon('question-circle', t('help')), help_path, class: 'nav-item nav-link' do %>
          <span class="nav-item nav-link active"><%= icon('question-circle', t('help')) %></span>
        <% end %>
      </div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown">
            <%= image_tag avatar_url(current_user), class: 'd-inline-block circle', size: '25' %>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <h6 class="px-4 py-2"><%= current_user.name %></h6>
            <div class="dropdown-divider"></div>
            <%= link_to icon('user', t('profile')), current_user, class: 'dropdown-item' %>
            <%= link_to icon('sign-out', t('sign_out')), destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
      </ul>
    <% end %>
  </div>
</nav>