<main class="container pt-3">
  <%= render 'shared/alert_notice' %>
  <div class="row">
    <h1><%= Project.model_name.human(count: 2) %></h1>
    <section class="col-sm-12">
      <div class="btn-group btn-group-sm">
        <%= link_to icon('plus', t('new_project')), new_project_path, class: 'btn btn-success' %>
      </div>
      <%= form_tag projects_path, :method => 'get', class: 'form-inline float-right' do %>
        <div class="input-group">
          <%= search_field_tag :search, params[:search], placeholder: t('search'), class: 'form-control form-control-sm' %>
          <div class="input-group-append">
            <%= button_tag :name => nil, class: 'btn btn-sm' do %>
              <%= icon('search', t('search')) %>
            <% end %>
          </div>
        </div>
      <% end %>
    </section>
    <section class="col-sm-12 pt-3">
      <table class="table table-bordered table-striped table-hover table-responsive-md table-sm">
        <thead class="thead-light">
        <tr>
          <th><%= Project.human_attribute_name('name') %></th>
          <th><%= Project.human_attribute_name('description') %></th>
          <th><%= Project.human_attribute_name('user') %></th>
          <th><%= t('links') %></th>
        </tr>
        </thead>

        <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= project.name %></td>
            <td><%= project.description %></td>
            <td>
              <%= link_to project.user.name, project.user %>
            </td>
            <td>
              <div class="btn-group btn-group-sm">
                <%= link_to t('project.show_in_editor'), editor_path(project: project.id), class: 'btn btn-primary' %>
                <%= link_to icon('info', t('details')), project, class: 'btn btn-primary' %>
                <%= link_to icon('copy', t('copy')), copy_project_path(project), method: :post, class: 'btn btn-secondary' %>
                <% if check_user_permission(project) %>
                  <%= link_to icon('edit', t('edit')), edit_project_path(project), class: 'btn btn-secondary' %>
                  <%= link_to icon('trash', t('destroy')), project, method: :delete, data: {confirm: t('are_you_sure')}, class: 'btn btn-danger' %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </section>
    <section class="col-sm-12 text-center">
      <%= page_entries_info @projects %>
      <%= will_paginate @projects, class: 'pagination pagination-sm justify-content-center pt-1', renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
    </section>
    <section class="col-sm-12">
      <div class="btn-group btn-group-sm">
        <%= link_to_if session[:cur_project_id], icon('arrow-left', t('back')), editor_index_path(project: session[:cur_project_id]), class: 'btn btn-secondary' do %>
          <%= link_to icon('arrow-left', t('back')), editor_path, class: 'btn btn-secondary' %>
        <% end %>
      </div>
    </section>
  </div>
</main>