<%# Artifacts List %>

<h4><%= Artifact.model_name.human(count: 2) %>
  <small><%= link_to icon('list', t('show_all')), artifacts_path, class: 'badge badge-secondary' %></small>
</h4>
<%= form_tag artifacts_path, method: 'get', class: 'form-inline' do %>
  <div class="input-group">
    <%= search_field_tag :search, params[:search], placeholder: t('search'), class: 'form-control form-control-sm' %>
    <div class="input-group-append">
      <%= button_tag :name => nil, class: 'btn btn-sm' do %>
        <%= icon('search', t('search')) %>
      <% end %>
    </div>
  </div>
<% end %>
<h6 class="pt-3">
  <%= t 'editor.current_project' %>
  <% if current_user.id == @current_project.user_id %>
    <%= link_to icon('plus', t('new_artifact')), '#createArtifact', data: {toggle: 'modal'}, class: 'badge badge-success' %>
  <% end %>
</h6>
<ul class="list-group">
  <% @current_project.list_artifacts.last(5).each do |artifact| %>
    <li class="list-group-item">
      <% if artifact.file.attached? %>
        <% if artifact.file.image? %>
          <%= icon('file-image-o', artifact.name) %>
        <% elsif artifact.file.audio? %>
          <%= icon('file-audio-o', artifact.name) %>
        <% elsif artifact.file.video? %>
          <%= icon('file-video-o', artifact.name) %>
        <% elsif artifact.file.text? %>
          <%= icon('file-text-o', artifact.name) %>
        <% else %>
          <%= artifact.name %>
        <% end %>
      <% end %>
      <%= link_to t("details"), artifact, class: 'badge badge-secondary' %>
      <%= link_to icon('plus', t('new_passage')), new_artifact_passage_path(artifact), class: 'badge badge-success' %>
      <ul>
        <% artifact.passages.limit(3).each do |passage| %>
          <li><%= link_to passage.name, passage %></li>
        <% end %>
        <% if artifact.passages.size > 3 %>
          <li><%= link_to t('show_more'), artifact_passages_path(artifact) %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
  <%= link_to_if @current_project.list_artifacts.size > 5, t('show_more'), artifacts_path(project: @current_project.id), class: 'list-group-item list-group-item-action' do %>
  <% end %>
  <h6 class="pt-3"><%= t 'editor.other_artifacts' %></h6>
  <% current_user.artifacts.limit(5).each do |artifact| %>
    <li class="list-group-item">
      <% if artifact.file.attached? %>
        <% if artifact.file.image? %>
          <%= icon('file-image-o', artifact.name) %>
        <% elsif artifact.file.audio? %>
          <%= icon('file-audio-o', artifact.name) %>
        <% elsif artifact.file.video? %>
          <%= icon('file-video-o', artifact.name) %>
        <% elsif artifact.file.text? %>
          <%= icon('file-text-o', artifact.name) %>
        <% else %>
          <%= artifact.name %>
        <% end %>
      <% end %>
      <%= link_to t("details"), artifact, class: 'badge badge-secondary' %>
      <%= link_to icon('plus', t('new_passage')), new_artifact_passage_path(artifact), class: 'badge badge-success' %>
      <ul>
        <% artifact.passages.limit(3).each do |passage| %>
          <li><%= link_to passage.name, passage %></li>
        <% end %>
        <% if artifact.passages.size > 3 %>
          <li><%= link_to t('show_more'), artifact_passages_path(artifact) %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
  <%= link_to_if current_user.artifacts.size > 5, t('show_more'), artifacts_path(user: current_user), class: 'list-group-item list-group-item-action' do %>
  <% end %>
</ul>
