<main class="row">
  <section class="col-sm-12">
    <h1><%= t('.welcome', user: current_user.name) %></h1>
  </section>
  <section class="col">
    <h4><%= t('.recent_projects') %></h4>
    <div class="card-columns">
      <% @home_projects.each do |project| %>
        <div class="card">
          <div class="card-header text-truncate">
            <%= link_to project.name, editor_path(project: project.id), class: 'card-link' %>
          </div>
          <div class="card-body">
            <%= project.description %>
          </div>
          <div class="card-footer">
            <%= Project.human_attribute_name('user') %>:
            <%= link_to project.user.name, project.user, class: 'card-link' %>
          </div>
        </div>
      <% end %>
    </div>
  </section>
  <section class="col">
    <h4><%= t('.recent_artifacts') %></h4>
    <div class="card-columns">
      <% @artifacts.each do |artifact| %>
        <div class="card">
          <% if artifact.file.representable? %>
            <%= image_tag artifact.file.representation(resize: '300x200>'), class: 'card-img-top' %>
          <% end %>
          <div class="card-header text-truncate">
            <%= link_to artifact.name, artifact, class: 'card-link' %>
          </div>
          <div class="card-body">
            <%= artifact.description %>
          </div>
          <div class="card-footer">
            <%= Artifact.human_attribute_name('user') %>:
            <%= link_to_unless artifact.user.nil?, artifact.user.name, artifact.user, class: 'card-link' do %>
              <%= t('.deleted') %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</main>