<h4>Product Feature Matrix</h4>
<%= form_for @current_project do |form| %>
  <table class="table table-bordered table-striped table-responsive">
    <thead class="thead-light">
    <% if current_user.id == @current_project.user_id %>
      <tr>
        <th>
          <%= link_to icon('plus', t('new_product')), '#createProduct', class: 'btn btn-sm btn-success', data: {toggle: 'modal'} %>
        </th>
        <% if @current_project.features.count > 0 %>
          <th class="text-center" colspan="<%= @current_project.features.count %>">
            <% if @current_project.products.count > 0 %>
              <%= form.submit t('.save_matrix'), class: 'btn btn-sm btn-success' %>
            <% else %>
              <%= form.submit t('.save_matrix'), class: 'btn btn-sm btn-success', disabled: true %>
            <% end %>
          </th>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <th><%= Product.model_name.human(count: 2) %>
        <%= link_to icon('list', t('show_all')), project_products_path(project_id: @current_project.id), class: 'badge badge-secondary' %> </th>
      <% @current_project.features.each do |feature| %>
        <th><%= feature.name %></th>
      <% end %>
    </tr>
    </thead>

    <% @current_project.products.each do |product| %>
      <%= form.fields_for 'products_features[]', product do |pf| %>
        <tr>
          <th>
            <%= product.name %>
            <%= link_to t("details"), product, class: 'badge badge-secondary' %>
            <br>
            <div class="btn-group btn-group-sm pt-2">
              <%= link_to icon('file-zip-o', t('download')), product_path(product, format: "zip"), class: 'btn btn-primary download' %>
            </div>
          </th>
          <%= pf.collection_check_boxes(:feature_ids, @current_project.features, :id, :name) do |check| %>
            <td class="text-center">
              <div class="form-check">
                <% if current_user.id == @current_project.user_id %>
                  <%= check.check_box class: 'form-check-input position-static' %>
                <% else %>
                  <%= check.check_box class: 'form-check-input position-static', disabled: true %>
                <% end %>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>
<script>
    let warn_on_leave = false;

    $('input[type="checkbox"]').change(function () {
        warn_on_leave = true;
    });

    $('a.download').click(function(e) {
        if (warn_on_leave === true) {
            let dialogText = '<%= t('.save_form_before_download') %>';
            alert(dialogText);
            e.preventDefault();
        }
    });

    document.addEventListener("turbolinks:before-visit", function (e) {
        if (warn_on_leave === true) {
            let dialogText = '<%= t('.form_not_submit_warning') %>';
            alert(dialogText);
            e.preventDefault();
        }
    });

    document.addEventListener("beforeunload", function (e) {
        if (warn_on_leave === true) {
            let dialogText = '<%= t('.form_not_submit_warning') %>';
            e.returnValue = dialogText;
            return dialogText;
        }
    });
</script>
