<div class="container-fluid">
  <div class="row">
    <section class="col-sm-3 col-md-2 d-none d-sm-block left-sidebar bg-light">
      <%= render 'left_sidebar' %>
    </section>
    <% if params[:project] %>
      <section class="col-sm-6 col-md-8 ml-sm-auto mr-sm-auto pt-3">
        <%= render 'shared/alert_notice' %>
        <main>
          <h2><%= t('.title', project: @current_project.name) %>
            <small><%= link_to t('details'), @current_project, class: 'badge badge-secondary' %></small>
            <small class="text-muted text-truncate"><%= @current_project.description %></small>
          </h2>
          <div class="btn-group btn-group-sm">
            <%= link_to_if check_user_permission(@current_project), icon('edit', t('edit')), edit_project_path(@current_project), class: 'btn btn-secondary' do %>
            <% end %>
            <%= link_to icon('copy', t('copy')), copy_project_path(@current_project), method: :post, class: 'btn btn-primary' %>
          </div>
          <hr>
          <%= render 'feature_list' %>
          <hr>
          <%= render 'matrix' %>
        </main>
      </section>
      <section class="col-sm-3 col-md-2 d-none d-sm-block right-sidebar bg-light">
        <%= render 'artifact_list' %>
      </section>
    <% else %>
      <section class="col-sm-9 col-md-10 ml-sm-auto pt-3">
        <%= render 'shared/alert_notice' %>
        <%= render 'home' %>
      </section>
    <% end %>
  </div>
  <% if params[:project] %>
    <%= render 'modals_artifact' %>
    <%= render 'modals_feature' %>
    <%= render 'modals_product' %>
  <% end %>
  <%= render 'modals_project' %>
</div>