<%# The layout of the ProductlinRe1 view, the first view when getting started. %>

<section class="jumbotron jumbotron-fluid">
  <h1 class="container">ProductLinRE</h1>
</section>
<section class="container">
  <%= render 'shared/alert_notice' %>
  <div class="row">
    <div class="col-sm-8">
      <p><%= t('about_productlinre_html') %></p>
      <p class="text-center">
      <%= image_tag 'board_game_example.png', size: 300, class:'img-fluid' %>
      </p>
      <p><%= t('about_productlinre_part2_html') %></p>
    </div>
    <div class="col-sm">
      <%= render "devise/sessions/loginform" %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>
