<main class="container pt-3">
  <div class="row">
    <h1><%= t('.title', passage: @passage.name) %></h1>
    <section class="col-sm-12">
      <%= render 'shared/alert_notice' %>
      <div class="btn-group btn-group-sm">
        <%= link_to icon('plus', t('passages.add_to_feature')), choose_feature_passage_path(@passage), class: 'btn btn-success' %>
        <% if check_user_permission(@passage) %>
          <%= link_to icon('edit', t('edit')), edit_passage_path(@passage), class: 'btn btn-secondary' %>
          <%= link_to icon('trash', t('destroy')), @passage, method: :delete, data: {confirm: t('are_you_sure')}, class: 'btn btn-danger' %>
        <% end %>
      </div>
    </section>
    <section class="col-sm-12 pt-3">
      <table class="table table-bordered table-responsive-sm table-sm">
        <thead class="thead-light">
        <tr>
          <th>
            <%= Passage.human_attribute_name('name') %>
          </th>
          <th>
            <%= Passage.human_attribute_name('filename') %>
          </th>
          <th>
            <%= Passage.human_attribute_name('artifact') %>
          </th>
          <th>
            <%= Passage.human_attribute_name('created_at') %>
          </th>
          <th>
            <%= Passage.human_attribute_name('updated_at') %>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= @passage.name %></td>
          <td><%= @passage.file.filename %></td>
          <td><%= @passage.artifact.name %></td>
          <td><%= @passage.created_at.to_formatted_s(:long) %></td>
          <td><%= @passage.updated_at.to_formatted_s(:long) %></td>
        </tr>
        </tbody>
        <thead class="thead-light">
        <tr>
          <th colspan="2">
            <%= Passage.human_attribute_name('description') %>
          </th>
          <th colspan="3">
            <%= Passage.human_attribute_name('file') %> <%= t('preview') %>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td colspan="2">
            <%= @passage.description %>
          </td>
          <td colspan="3">
            <% if @passage.file.attached? %>
              <% if @passage.file.image? %>
                <%= image_tag(@passage.file.variant(resize:'800>'), class: 'img-thumbnail img-fluid') %>
              <% elsif @passage.file.video? %>
                <%= video_tag(url_for(@passage.file), controls: true, size: '800x450') %>
              <% elsif @passage.file.audio? %>
                <%= audio_tag(url_for(@passage.file), controls: true) %>
              <% elsif @passage.file.text? %>
                <% if @passage.file.text? %>
                  <% text = @passage.file.download %>
                <% end %>
                <%= simple_format(text) %>
              <% end %>
            <% end %>
          </td>
        </tr>
        </tbody>
      </table>
    </section>
    <section class="col-sm-12">
      <div class="btn-group btn-group-sm">
        <%= link_to_if session[:cur_project_id], icon('arrow-left', t('back_to_editor')), editor_index_path(project: session[:cur_project_id]), class: 'btn btn-secondary' do %>
          <%= link_to icon('arrow-left', t('back_to_editor')), editor_path, class: 'btn btn-secondary' %>
        <% end %>
        <%= link_to icon('arrow-left', t('back_to_list')), artifact_passages_path(@passage.artifact), class:'btn btn-secondary' %>
      </div>
    </section>
  </div>
</main>