<main class="container pt-3">
  <div class="row">
    <h1><%= t('.title', product: @product.name) %></h1>
    <% if check_user_permission(@product.project) %>
      <section class="col-sm-12">
        <div class="btn-group btn-group-sm">
          <%= link_to icon('edit', t('edit')), edit_product_path(@product), class: 'btn btn-secondary' %>
          <%= link_to icon('trash', t('delete')), product_path(@product), method: :delete, data: {confirm: t('are_you_sure')}, class: 'btn btn-danger' %>
        </div>
      </section>
    <% end %>
    <section class="col-sm-12 pt-3">
      <table class="table table-bordered table-sm">
        <thead class="thead-light">
        <tr>
          <th><%= Product.human_attribute_name('description') %></th>
          <th><%= Product.human_attribute_name('created_at') %></th>
          <th><%= Product.human_attribute_name('updated_at') %></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= @product.description %></td>
          <td><%= @product.created_at.to_formatted_s(:long) %></td>
          <td><%= @product.updated_at.to_formatted_s(:long) %></td>
        </tr>
        </tbody>
      </table>
    </section>
    <section class="col-sm-12">
      <table class="table table-bordered table-sm">
        <thead class="thead-light">
        <tr>
          <th><%= t('.associated_features') %>
            <%= link_to_if @product.project.user == current_user, icon('edit', t('edit')), edit_product_path(@product), class: 'badge badge-secondary' %></th>
        </tr>
        </thead>
        <tbody>
        <% @product.features.each do |feature| %>
          <tr>
            <td><%= feature.name %> <%= link_to t('details'), feature, class: 'badge badge-secondary' %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </section>
    <section class="col-sm-12">
      <div class="btn-group btn-group-sm">
        <%= link_to icon('arrow-left', t('back_to_editor')), editor_index_path(project: @product.project_id), class: 'btn btn-secondary' %>
        <%= link_to icon('arrow-left', t('back_to_list')), project_products_path(@product.project), class: 'btn btn-secondary' %>
      </div>
    </section>
  </div>
</main>



