<%= form_with(model: artifact, local: true, class: 'form-row') do |form| %>
  <%= form.error_messages %>

  <%= form.hidden_field :user_id, value: current_user.id, required: true %>

  <div class="form-group col-sm-12">
    <%= form.label :name %>
    <%= form.text_field :name, id: :artifact_name, class: "form-control" %>
  </div>
  <div class="form-group col-sm-12">
    <%= form.label :description %>
    <%= form.text_area :description, id: :artifact_name, class: "form-control" %>
  </div>
  <div class="form-group col-sm-12">
    <%= form.label :file, Artifact.human_attribute_name('file') %>
    <%= form.file_field :file, id: :artifact_file, accept: 'image/*,video/*,audio/*', class: 'form-control-file' %>
  </div>
  <!--<div class="progress">
    <div class="progress-bar progress-bar-striped" style="width: 0;"></div>
  </div>
  -->
  <div class="form-group col-sm-12">
    <%= form.submit class: "btn btn-success" %>
  </div>

<% end %>
