<main class="container pt-3">
  <%= render 'shared/alert_notice' %>
  <div class="row">
    <h1><%= Artifact.model_name.human(count: 2) %></h1>
    <section class="col-sm-12">
      <div class="btn-group btn-group-sm">
        <%= link_to icon('plus', t('new_artifact')), new_artifact_path, class: 'btn btn-success' %>
      </div>
      <%= form_tag artifacts_path, method: 'get', class: 'form-inline float-right' do %>
        <div class="input-group">
          <%= search_field_tag :search, params[:search], placeholder: t('search'), class: 'form-control form-control-sm' %>
          <div class="input-group-append">
            <%= button_tag :name => nil, class: 'btn btn-sm' do %>
              <%= icon('search', t('search')) %>
            <% end %>
          </div>
        </div>
      <% end %>
    </section>
    <section class="col-sm-12 pt-3">
      <table class="table table-bordered table-striped table-hover table-responsive-md table-sm">
        <thead class="thead-light">
        <tr>
          <th><%= Artifact.human_attribute_name("name") %></th>
          <th><%= Artifact.human_attribute_name("filename") %></th>
          <th><%= Artifact.human_attribute_name("user") %></th>
          <th><%= Artifact.human_attribute_name("created_at") %></th>
          <th><%= t('links') %></th>
        </tr>
        </thead>
        <tbody>
        <% @artifacts.each do |artifact| %>
          <tr>
            <td>
              <%= file_name_with_icon(artifact) %>
            </td>
            <td>
              <%= artifact.file.filename %>
            </td>
            <td>
              <%= artifact.user.name %>
            </td>
            <td>
              <%= artifact.created_at.getlocal.to_formatted_s(:long) %>
            </td>
            <td>
              <div class="btn-group btn-group-sm">
                <%= link_to icon('info', t('details')), artifact, class: 'btn btn-primary' %>
                <%= link_to icon('plus', t('artifacts.add_to_feature')), choose_feature_artifact_path(artifact), class: 'btn btn-success' %>
                <% if check_user_permission(artifact) %>
                  <%= link_to icon('edit', t('edit')), edit_artifact_path(artifact), class: 'btn btn-secondary' %>
                  <%= link_to icon('trash', t('destroy')), artifact, method: :delete, data: {confirm: t('are_you_sure')}, class: 'btn btn-danger' %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </section>
    <section class="col-sm-12 text-center">
      <%= page_entries_info @artifacts %>
      <%= will_paginate @artifacts, class: 'pagination pagination-sm justify-content-center pt-1', renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
    </section>
    <section class="col-sm-12">
      <div class="btn-group btn-group-sm">
        <%= link_to_if session[:cur_project_id], icon('arrow-left', t('back')), editor_index_path(project: session[:cur_project_id]), class: 'btn btn-secondary' do %>
          <%= link_to icon('arrow-left', t('back')), editor_path, class: 'btn btn-secondary' %>
        <% end %>
      </div>
    </section>
  </div>
</main>