<section class="col-sm-12 pt-3">
  <table class="table table-bordered table-sm">
    <thead class="thead-light">
    <tr>
      <th>
        <%= t('features.associated_passages') %>
      </th>
    </tr>
    </thead>
    <tbody>
    <% @feature.passages.order(id: :asc).each do |passage| %>
      <tr>
        <td class="list-group-item">
          <%= file_name_with_icon(passage) %>
          <%= link_to t('details'), passage, class: 'badge badge-secondary' %>
          <% if @feature.project.user == current_user %>
            <%= form_with model: @feature, url: delete_passage_feature_path(@feature), method: :put do |form| %>
              <%= form.hidden_field :passage_id, value: passage.id %>
              <%= form.button icon('trash', t('delete')), data: {confirm: t('are_you_sure')}, class: 'btn btn-sm btn-danger' %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
<section class="col-sm-12 text-center">
  <%= page_entries_info @passages %>
  <%= will_paginate @passages, class: 'pagination pagination-sm justify-content-center pt-1', renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
</section>