<main class="container pt-3">
  <div class="row">
    <h1><%= t('.title', feature: @feature.name) %></h1>
    <section class="col-sm-12">
      <%= render 'shared/alert_notice' %>
      <div class="btn-group btn-group-sm">
        <%= link_to_if check_user_permission(@feature.project), icon('edit', t('edit')), edit_feature_path(@feature), class: 'btn btn-secondary' do %>
        <% end %>
        <%= link_to icon('copy', t('copy')), '#copyFeature', class: 'btn btn-primary', data: {toggle: 'modal'} %>
        <%= link_to_if check_user_permission(@feature.project), icon('trash', t('destroy')), @feature, method: :delete, data: {confirm: t('are_you_sure')}, class: 'btn btn-danger' do %>
        <% end %>
      </div>
    </section>
    <section class="col-sm-12 pt-3">
      <table class="table table-bordered table-sm">
        <thead class="thead-light">
        <tr>
          <th><%= Feature.human_attribute_name('name') %></th>
          <th><%= Feature.human_attribute_name('description') %></th>
          <th><%= Feature.human_attribute_name('created_at') %></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= @feature.name %></td>
          <td><%= @feature.description %></td>
          <td><%= @feature.created_at.to_formatted_s(:long) %></td>
        </tr>
        </tbody>
      </table>
    </section>
    <%= render 'artifacts_list' %>
    <%= render 'passages_list' %>
    <section class="col-sm-12">
      <div class="btn-group btn-group-sm">
        <%= link_to icon('arrow-left', t('back_to_editor')), editor_index_path(project: @feature.project_id), class: 'btn btn-secondary' %>
        <%= link_to icon('arrow-left', t('back_to_list')), project_features_path(@feature.project), class:'btn btn-secondary' %>
      </div>
    </section>
  </div>
</main>

<%= render 'copy_modal' %>